body {
  background-color: #ffffff;
}

header {
  background-color: rgb(34, 37, 41);
  color: #ffffff;
  padding: 40px 0;
}

h1 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

section {
  padding: 20px 0;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  text-align: center;
}
.aboutUs {
  font-size: 18px;
  line-height: 1.5;
  width: 700px;
  margin: 0 auto;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

p {
  margin-left: 15px;
}

footer {
  background-color: rgb(34, 37, 41);
  color: #ffffff;
  padding: 20px 0;
}

p {
  text-align: center;
}

.section-1 {
  background-color: #e6e6e6;
}

.section-2 {
  background-color: #f8f8f8;
}

.description {
  display: flex;
  width: 90%;
}
.description > div {
  flex: 1;
}
.WWA {
  font-weight: bold !important;
  margin-top: 20px;
  font-size: 36px;
  color: #333333;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 20px 0;
  }

  h1 {
    font-size: 24px;
  }

  .aboutUs {
    font-size: 16px;
    max-width: 100%;
  }

  h2 {
    font-size: 20px;
  }
  
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  .aboutUs {
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
  }
}
