.addProductContainer {
  text-align: left;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-around;
}

.addProduct-h {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 5%;
  font-size: 36px;
}

.form-label {
  color: black !important;
}

.wrapperViewProduct {
  max-width: auto;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  margin: 0px auto;
  padding: 0px 50px;
}

.form-control,
.form-select {
  border-radius: 8px !important;
}
.addProductButton2 {
  text-align: left;
  margin-bottom: 10%;
  margin-left: -7%;
}
.addButton {
  padding: 12px 24px 12px 24px;
  border: none;
  text-align: center;
  color: #ffffff;
  background: #be9f4e;
  text-decoration: none;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  outline: none;
}
.addButton:hover {
  background-color: #333333;
  color: #ffffff;
}

.cancelButton {
  padding: 12px 24px 12px 24px;
  border: none;
  text-align: center;
  color: #ffffff;
  background-color: #e02121;
  margin-left: 10%;
  text-decoration: none;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  outline: none;
}

.cancelButton:hover {
  background-color: #333333;
  color: #ffffff;
}

.formGridStatus {
  margin-top: 25px;
}

.receiptAddFile {
  color: #be9f4e;
  padding: 15px;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: underline;
  font-size: 14px;
}
.span-add-product{
  margin-left: 60px;
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
  align-items: center;
}
.receiptAddFile:hover {
  color: #3a6ecf;
}

.form-group-receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group-receipt label {
  text-align: center;
}
.form-group-receipt input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-check-input:checked {
  background-color: #be9f4e !important;
  border-color: #be9f4e !important;
}
.no-arrow {
  -moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
  display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addImage {
  background-color: #d6d0d0;
  color: #333333;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 350px;
  width: 400px;
  cursor: pointer;
  justify-content: center;
}

.addImage:hover {
  transform: translateY(-5px);
}

.plus-sign {
  margin: 15px 15px 15px 15px;
  font-weight: bold;
  color: #ffffff;
  font-size: 32px;
  transition: transform 0.2s;
}

.productPreview {
  border-radius: 8px;
  height: 350px;
  width: 400px;
}

.addProductBox {
  position: relative;
  padding: 5px;
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
  border-radius: 16px;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
}
.addProductBox1 {
  position: relative;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 16px;
  max-width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.2s;
}

.addProductBox:hover {
  transform: translateY(-5px);
}

.addProductBox img {
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  margin-left: 10%;
  border: 1px solid #ddd;
}

.addProductBox1 img {
  border-radius: 16px;
  border: 1px solid #ddd;
  max-width: 100%;
  height: 300px;
  object-fit: contain;
  padding: 5px;
}

.addProductActions {
  position: absolute;
  bottom: 10px;
  right: 0;
  border-radius: 50%;
  font-weight: bold;
  background-color: #333333;
}

.addProductActions:hover {
  background-color: #be9f4e;
  color: #333333 !important;
}

.brand {
  max-width: 300px;
  margin: 15px;
  padding: 0px;
}

.brand img {
  max-width: 200px;
  max-height: 200px;
  width: 85%;
  height: 200px;
  object-fit: contain;
  margin-left: 23%;
  cursor: pointer;
}
