.faq-page {
    padding: 0px;
}
  
header {
    text-align: center;
}
  
h1 {
    margin-bottom: 10px;
    font: 4em Popins, sans-serif;
}
  
p {
    margin-bottom: 20px;
}
  
.faq-list {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
}
  
.faq-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 40px; 
  }
  
.question-text {
    margin-bottom: 10px;
    position: relative;
}
  
.question-text::after {
    content: '\25C0'; 
    margin-left: 5px;
  }
  
.answer {
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.faq-item.active {
    max-height: 200px; 
    background-color: blue;
}
  
.faq-item.active .answer {
    max-height: 500px; 
}
  
.faq-item.active .question-text::after {
<<<<<<< HEAD
    content: '\25BC'; 
=======
    content: '\25BC'; /* Unicode character for a down-pointing triangle when active */
>>>>>>> 95851cd61d47c6d00b995bc2037a2530ead43f31
}
  