.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.forgot-password-container label {
  justify-content: left;
  font-size: 16px;
}
.forgot-password-container h1 {
  justify-content: left;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #ffffff;
}
.forgot-password-container input {
  justify-content: left;
  font-size: 16px;
  color:#be9f4e !important;
}
.forgot-password-form {
  width: 800px;
  padding: 20px;
  border-radius: 16px;
  background-color: #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;

}

.btn-block:disabled {
  background-color: #b0c1d9;
  cursor: not-allowed;
}

.forgotButton {
    padding: 12px 24px 12px 24px;
    border: none;
    text-align: center;
    color: #e6e6e6;
    background: #be9f4e;
    text-decoration: none;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .forgotButton:hover {
    background-color: #ffffff;
    color: #333333;
  }