.myProduct-h1 {
  text-align: center;
  margin-top: 40px;
}

.myProduct-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 20px !important;
  margin-top: 20px !important;
}

.myProduct-box {
  position: relative;
  border-radius: 16px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.myProduct-box:hover {
  transform: translateY(-5px);
}

.myProduct-box img {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 16px;
}

/* .product-status {
  position: absolute;
  top: 10px;
  margin-top: 10px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: bold;
}
.for-rent {
  background-color: #e7c264;
  color: #000000;
}

.for-sell {
  background-color: #87b1f9;
  color: #ffffff;
} */

.add-product-button {
  background-color: #333333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  border: none;
  outline: none;
}
.add-product-button:hover {
  background-color: #e7c264;
  color:#000000;
}
.add-product-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
