.myProduct-h {
  text-align: center;
  margin-top: 28px;
  font-size: 36px;
}

.myProduct-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 20px !important;
  margin-top: 20px !important;
}

.myProduct-box {
  position: relative;
  padding: 5px;
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
  max-height: 250px;
  width: 400px;
}

.myProduct-box:hover {
  transform: translateY(-5px);
}

.myProduct-box img {
  width: 400px;
  max-height: 250px;
  border-radius: 16px;
}

.for-rent-myProduct {
  background-color: #e7c264;
  color: #000000;
  position: absolute;
  top: 7px;
  margin-top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: bold;
}

.for-sell-myProduct {
  background-color: #87b1f9;
  color: #ffffff;
  position: absolute;
  top: 7px;
  margin-top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: bold;
}

.sold-out-myProduct {
  background-color: rgba(51, 51, 51, 0.85);
  font-weight: bold;
  color: #fafafa;
  transform: translateX(50%);
  position: absolute;
  top: 30%;
  right: 50%;
  padding: 50px;
  border-radius: 100%;
}

.product-actions {
  position: absolute;
  bottom: 7px;
  /* margin-bottom: 10px; */
  right: 10px;
  border-radius: 100px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.15);
  color: #ffffff;
  svg {
    color: #ffffff;
  }
}

.faTrashIcon {
  color: red !important;
}

.addProductButton {
  background-color: #333333;
  color: #fff;
  padding: 12px 24px 12px 24px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  border: none;
  outline: none;
}
.addProductButton:hover {
  background-color: #e7c264;
  color: #000000;
}
.addProductButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
