.product-container {
  user-select: none;
}
.more-detail {
  text-align: center;
}
.popover-header {
  font-weight: bold;
}
.posted-by {
  /* text-overflow: ellipsis; */
  color: #be9f4e;
  margin-bottom: 0px;
  text-align: center;
}
.hr-line {
  border: 0.5px solid #666666;
  margin: 15px 0;
  border-top: 0.5px solid transparent;
}
.popover-body {
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.pop-over {
  border-radius: 16px;
}
.product-h {
  text-align: center;
  margin-top: 28px;
  font-size: 36px !important;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-box {
  /* height: 270px;  */
  position: relative;
  display: flex;
  max-width: 100%;
  border-radius: 16px;
  overflow: hidden;
  justify-content: center;
  border: 1px solid #ddd;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}
.product-box1 {
  display: flex;
  height: 270px;
  text-align: center;
  padding: 5px;
}

.product-box:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .product-box {
    width: calc(50% - 20px);
  }
}

.product-box img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.for-rent {
  background-color: #e7c264;
  color: #000000;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: bold;
}

.for-sell {
  background-color: #87b1f9;
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: bold;
}

.sold-out {
  background-color: rgba(51, 51, 51, 0.85);
  font-weight: bold;
  color: #fafafa;
  border-radius: 50px !important;
  transform: translateX(50%) !important;
  position: absolute;
  top: 60px;
  right: 50%;
  padding: 50px;
  border-radius: 100% !important;
}

.product-price {
  position: absolute;
  bottom: 5px;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #333333;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  /* left: 40%; */
}

.product-price-fav {
  position: absolute;
  bottom: 5px;

  padding: 5px 10px;
  font-weight: bold;
  background-color: #333333;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

/* Filter */
.border-text-filter {
  text-align: start;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.favButton {
  position: absolute;
  font-size: 26px;
  bottom: 0;
  left: 4%;
  border: 1px solid transparent;
  background-color: transparent;
}

.filter-side {
  color: #ffffff;
}

.filter-side span {
  color: #ffffff;
  /* background: none; */
}

.filter-side .ant-checkbox-inner {
  background: none;
  border: 2px solid #ffffff;
}
.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-pr0fja).ant-checkbox:not(
    .ant-checkbox-disabled
  ):hover
  .ant-checkbox-inner {
  border-color: #e7c264;
}
.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: #e7c264;
  border-color: transparent;
}

.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-slider
  .ant-slider-track {
  background-color: #e7c264;
}

.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-slider
  .ant-slider-handle::after {
  background-color: #e7c264;
  box-shadow: 0 0 0 2px #e7c264;
}

.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-slider
  .ant-slider-rail {
  background: #ffffff;
  border-radius: 25px;
}

.filter-side .ant-slider-mark-text-active,
.filter-side .ant-slider-mark-text {
  color: #ffffff;
}
