.product-detail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  max-width: 1920px;
  user-select: none;
  margin-bottom: 100px;
}

.product-detail {
  background-color: #fff;
  margin-right: 10%;
  max-width: 550px !important;
}

.phone-icon {
  padding-right: 5px;
}
.product-detail h1 {
  font-size: 24px;
  text-align: left;
  font-weight: 600;
}

.p-statusDetail {
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 5px 12px;
  border-radius: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.for-rent-detail {
  background-color: #e7c264;
  color: #333333;
}

.for-sell-detail {
  background-color: #87b1f9;
  color: #ffffff;
}

.sold-out-detail {
  background-color: rgba(71, 71, 71, 0.85);

  color: #fafafa;
}

.product-detail h2 {
  text-align: left;
  font-size: 18px;
  color: #888;
}

.product-detail hr {
  border: 2px bold #000000;
  margin: 10px 0;
}

.product-detail p {
  text-align: left;
  font-size: 16px;
  white-space: pre-wrap;
}

.product-detail .seller-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.seller-name {
  margin: 10px;
  color: #e7c264;
}
.product-detail .seller-info .profile-icon {
  cursor: pointer;
  color: #e7c264;
  align-items: right;
}

.product-detail .seller-info .phone-icon {
  cursor: pointer;
  color: #e7c264;
}

.product-detail h3 {
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}
.product-detail h4 {
  font-size: 16px;
  font-weight: 600;
}

.product-detail h5 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #747474;
}

.product-detail .contact-button {
  background-color: #333333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
}
.product-detail .contact-button:hover {
  background-color: #e7c264;
  color: #000000;
  transition: background-color 0.3s ease;
}
.modal {
  user-select: none;
}
.profile-modal-icon2 {
  margin: 20px;
  /* margin-left: 39%; */
}

.profile-modal-icon {
  justify-content: center;
  margin: 20px;
  margin-left: 39%;
}

.sellerprofile-button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 35%;
  margin-right: 33%;
}

.profile-modal-info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.sellerprofile-button:hover {
  background-color: #e7c264;
  color: #000000;
  transition: background-color 0.3s ease-in-out;
}

.sellerprofile-button:not(:hover) {
  background-color: #333333;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.faCheckProductDe {
  color: #e7c264;
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.profile-icon-de {
  color: #e7c264;
  margin-left: 200px;
}

.favButtonPD {
  font-size: 26px;
  border: 1px solid transparent;
  background-color: transparent;
  margin-right: 5px;
}

.active1 {
  background: #be9f4e !important;
  color: #000000 !important;
  width: 50px;
}
.active1:hover {
  color: #000000 !important;
}

.product-image-de {
  position: relative;
  background-color: #fff;
  cursor: pointer;
  border-radius: 16px;
  height: 450px;
  max-width: 100%;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.2s;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.verified-badge-pdPage {
  position: relative;
  padding: 1px 3px;
  color: #be9f4e;
  border: 2px solid #be9f4e;
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
  margin-right: 10px;
}

.product-image-de img {
  max-width: 100%;
  border-radius: 16px;
  padding: 5px;
  height: 440px;
  object-fit: contain;
  /* border: 1px solid #ddd; */
}

.product-image1 {
  position: relative;
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
  border-radius: 16px;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  height: 150px;
  max-width: 100%;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-bottom: 20px;
}

.product-image1 img {
  border: 1px solid #ddd;
  max-width: 100px;
  border-radius: 16px;
  padding: 5px;
  height: 100px;
  object-fit: contain;
  margin-left: 20px;
  margin-bottom: 10px;
}

.arrow-prev {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: #be9f4e;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.arrow-next {
  transition: border-color 0.3s ease-in-out;
  user-select: none;
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: #be9f4e;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productPreview.selected {
  border-color: #be9f4e;
}

.productPreview:hover {
  border-color: #be9f4e;
}
