.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .product-grid {
    flex-direction: column;
    align-items: center;
  }
}

.product-box {
  position: relative;
  padding: 5px;
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
}

.product-box:hover {
  transform: translateY(-5px);
}

.product-box img {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 16px;

}

@media (max-width: 768px) {
  .product-box img {
    max-height: 180px;
  }
}

@media (max-width: 576px) {
  .product-box img {
    max-height: 120px;
  }
}

.product-status {
  position: absolute;
  top: 10px;
  margin-top: 10px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: bold;
}
.for-rent {
  background-color: #e7c264;
  color: #000000;
}

.for-sell {
  background-color: #87b1f9;
  color: #ffffff;
}

.product-price {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333;
  color: #ffffff;
  border-radius: 100px;
  padding: 5px 10px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Filter */
.border-text-filter {
  text-align: start;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.filter-side {
  color: #ffffff;
}

.filter-side span {
  color: #ffffff;
  /* background: none; */
}

.filter-side .ant-checkbox-inner {
  background: none;
  border: 2px solid #ffffff;
}
.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-pr0fja).ant-checkbox:not(
    .ant-checkbox-disabled
  ):hover
  .ant-checkbox-inner {
  border-color: #e7c264;
}
.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: #e7c264;
  border-color: transparent;
}

.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-slider
  .ant-slider-track {
  background-color: #e7c264;
}

.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-slider
  .ant-slider-handle::after {
  background-color: #e7c264;
  box-shadow: 0 0 0 2px #e7c264;
}

.filter-side
  :where(.css-dev-only-do-not-override-pr0fja).ant-slider
  .ant-slider-rail {
  background: #ffffff;
  border-radius: 25px;
}

.filter-side .ant-slider-mark-text-active,
.filter-side .ant-slider-mark-text {
  color: #ffffff;
}
