.product-detail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  max-width: 1920px;
}

.product-detail {
  background-color: #fff;
  margin-right: 10%;
  max-width: 550px !important;
}

.phone-icon {
  padding-right: 5px;
}
.product-detail h1 {
  font-size: 24px;
  text-align: left;
  font-weight: 600;
}

.p-statusDetail {
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 5px 12px;
  border-radius: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.for-rent-detail {
  background-color: #e7c264;
  color: #333333;
}

.for-sell-detail {
  background-color: #87b1f9;
  color: #ffffff;
}

.sold-out-detail {
  background-color: rgba(71, 71, 71, 0.85);

  color: #fafafa;
}

.product-detail h2 {
  text-align: left;
  font-size: 18px;
  color: #888;
}

.product-detail hr {
  border: 2px bold #000000;
  margin: 10px 0;
}

.product-detail p {
  text-align: left;
  font-size: 16px;
  white-space: pre-wrap;
}

.product-detail .seller-info {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.seller-name {
  margin: 10px;
  color: #e7c264;
}
.product-detail .seller-info .profile-icon {
  cursor: pointer;
  color: #e7c264;
  align-items: right;
}

.product-detail .seller-info .phone-icon {
  cursor: pointer;
  color: #e7c264;
}

.product-detail h3 {
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}
.product-detail h4 {
  font-size: 16px;
  font-weight: 600;
}

.product-detail .contact-button {
  background-color: #333333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
}
.product-detail .contact-button:hover {
  background-color: #e7c264;
  color: #000000;
  transition: background-color 0.3s ease;
}

.product-image img {
  width: auto;
  max-height: 400px;
  object-fit: cover;
}

.profile-modal-icon2 {
  margin: 20px 20px 20px 20px;
  /* margin-left: 39%; */
}

.profile-modal-icon {
  justify-content: center;
  margin: 20px 20px 20px 20px;
  margin-left: 39%;
}

.sellerprofile-button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 35%;
  margin-right: 33%;
}

.profile-modal-info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.sellerprofile-button:hover {
  background-color: #e7c264;
  color: #000000;
  transition: background-color 0.3s ease-in-out;
}

.sellerprofile-button:not(:hover) {
  background-color: #333333;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.faCheckProductDe {
  color: #e7c264;
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.profile-icon-de {
  color: #e7c264;
  margin-left: 200px;
}

.favButtonPD {
  font-size: 26px;
  border: 1px solid transparent;
  background-color: transparent;
  margin-right: 5px;
}

.carousel.slide {
  width: 100%;
  height: 200px;
}

.carousel-item {
  position: relative;
  justify-content: center;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.d-block_w-100_h-100 {
  width: 450px;
  height: 450px;
  border-style: solid;
  border-color: #929292;
  border-width: 1.5px;
  border-radius: 3%;
}

.carousel-item.active {
  width: 450px;
  height: 450px;
  border-radius: 20%;
  margin-right: 60px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: relative;
  text-align: center;
}

.carousel-item.active {
  opacity: 1; /* Set opacity to 1 for the active item */
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
}

.carousel-controls {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.carousel-controls button {
  background-color: rgb(51, 51, 51);
  color: #333333;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-controls button:hover {
  background-color: #e7c264;
}

.carousel-indicators {
  background-color: rgb(51, 51, 51);
  position: absolute;
  bottom: -310px;
  left: 45%;
  transform: translateX(-50%);
  display: flex;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
