.register {
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: list-item;
  z-index: 1;
}

.register-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 13px;
  background: #ffffff;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.box-border-register {
  padding: 10px 40px;
  background: #333333;
  border: 3px solid #a78610;
  box-sizing: border-box;
  border-radius: 30px;
}

.p {
  margin: 0px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.fffText-register {
  margin: 0px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.form-wrapper-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rowInput-register {
  display: flex;
  flex-direction: row;
}

.input2-register {
  margin: 0 0 25px 5%;
  height: 40px;
  width: 100%;
  font-size: 15px;
  font-weight: light;
  padding: 0px 20px;
  background: rgba(196, 196, 196, 0.1);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  color: #ffffff;
}

.input-register {
  height: 40px;
  width: 100%;
  font-size: 15px;
  font-weight: light;
  margin-bottom: 25px;
  padding: 0px 20px;
  background: rgba(196, 196, 196, 0.1);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  color: #ffffff;
}

.button-submit-register {
  padding: 5px 0px;
  border-radius: 50px;
  border: none;
  color: #333333;
  background-color: #ffffff;
  border: none;
  width: 50%;
  font-weight: 700;
  margin: 25px 0px 50px 0px;
  cursor: pointer;
}
.checkbox-container-register {
  margin-bottom: 10px;
  align-items: start;
}
.checkbox-container-register label {
  display: inline-block;
  margin-left: 5px;
}
a {
  color: #eeba36 !important;
  text-decoration: none !important;
}

label {
  display: block;
  color: #ffffff;
}

.img-logo-register {
  width: auto;
  height: 100px;
  margin: 1% 0px 5%;
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.popup-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: white;
  padding: 20px;
}

.terms-of-service-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 10px solid #333333;
  z-index: 100;
  border-radius: 30px;
}

.terms-of-service-content {
  margin-top: 40px;
  /* text-align: left; */
}

.terms-of-service-content p {
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: #333333;
}
.termsButton {
  margin-bottom: 10%;
  margin-top: 10%;
}

.acceptButton {
  padding: 12px 24px 12px 24px;
  border: none;
  text-align: center;
  color: #333333;
  background: #e7c264;
  text-decoration: none;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  outline: none;
}
.acceptButton:hover {
  background-color: #333333;
  color: #ffffff;
}

.closeButton {
  padding: 12px 24px 12px 24px;
  border: none;
  text-align: center;
  color: #ffffff;
  background-color: #e02121;
  margin-left: 10%;
  text-decoration: none;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  outline: none;
}

.closeButton:hover {
  background-color: #333333;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .register-box {
    width: 60%;
  }
  .terms-of-service-popup {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .register-box {
    width: 90%;
  }

  .rowInput-register {
    flex-direction: column;
    width: 100%;
  }

  .input2-register {
    margin: 0;
    margin-bottom: 25px;
    margin-top: 0;
  }
  .terms-of-service-popup {
    width: 80%;
  }
}
