/* Updated styles for centering the footer content */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text, footer p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px; /* Adjust the font size as needed */
  color: #ffffff;
  margin-top: 20px;
}

.contact {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px; /* Adjust the font size as needed */
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-icons img {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  max-height: 18px;
}

.footer-logo {
  max-height: 40px;
}

/* Add any additional styles for your footer */
