.navbar {
  height: auto;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  align-items: flex-end;
}

.nav-link {
  text-decoration: none;
  color: #fff !important;
  padding: 0.5rem 1rem !important;
  font-weight: 500 !important;
}

.active {
  border-radius: 100px;
  background: #be9f4e !important;
  color: #000000 !important;
}

.navbar-logo {
  width: auto;
  height: 60px;
}

  .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #be9f4e !important; 
  }

  .text-dot-200{
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }